{% if user_session %}
<nav>
    <button type="button" class="btn"
            onclick="window.location.href='{{ url_for('user_logout') }}'">
        Logout
    </button>
</nav>
{% else %}
<nav>
    <button type="button" class="btn"
            onclick="window.location.href='{{ url_for('user_login') }}'">
        Go to Login
    </button>

    <button type="button" class="btn"
            onclick="window.location.href='{{ url_for('user_register') }}'">
        Go to Register
    </button>
</nav>
{% endif %}